[toolchain]

[features]
resolution = true
skip-lint = false

[programs.devnet]
escrow = "11111111111111111111111111111111"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "pnpm tsx tests/escrow.ts"
